:root {
  /* Stats */
  --stext: #535353;

  /* Keyboard */
  --keys: 34px;
  --key: #c0bfbf;
  --keyshadow: #979797;
  --keyshadow2: #9797977e;
  --keyfocus: #d1d1d1;
  --keyrad: 4px;

  /* Colors */

  --green: #6ca965;
  --yellow: #c8b653;
  --gray: #787c7f;

  --lgreen: #80a87c;
  --lyellow: #c2b87f;
  --lgray: #8c8f92;


  
  /* misc */
  --sqs: 55px;
  --fs: 2rem;

  --border: 2px solid #000;
  --grayborder: 2px solid  var(--gray);
  --greenborder: 2px solid var(--green);
  --yellowborder: 2px solid var(--yellow);

  --pad: 4px;
  --margin: 4px;

  --uptime: 0.2s;
}

@keyframes from-down {
  0% {
    translate: 0 calc(var(--margin) * -1);
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    translate: calc(var(--margin) * -2) 0;
  } 25% {
    translate: calc(var(--margin) * 2) 0;
  } 50% {
    translate: calc(var(--margin) * -1) 0;
  } 75% {
    translate: calc(var(--margin) * 1) 0;
  } 100% {
    translate: 0 0;
  }
}

@keyframes fshake {
  0% {
    transform: translate(2px, 1px);
  }
  25% {
    transform: translate(-3px, -2px);
  }
  50% {
    transform: translate(1px, -1px);
  }
  75% {
    transform: translate(-1px, 2px);
  }
  100% {
    transform: translate(2px, 1px);
  }
}

@keyframes float {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 calc(var(--margin) * 3);
  }
  100% {
    translate: 0 0;
  }
}

@keyframes up {
  0% {
    opacity: 0;
    translate: 0 calc(var(--sqs));
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes flip {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
    background: var(--col);
    border: var(--bor);
    color: #fff;
  }
}

@keyframes bounce-and-explode {
  0% {
    translate: 0 0;
  } 50% {
    translate: 0 -20px;
  } 100% {
    translate: 0 0;
    background-color: var(--col);
    border: var(--bor);
    color: #000;
  }
}

a {
  color: var(--green);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: underline;
}

button {
  border: 2px solid var(--key);
  font-family: "tommy";
  font-size: calc(var(--fs) / 1.5);
  padding: calc(var(--pad) * 2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 4px var(--keyshadow);
  border-radius: calc(var(--keyrad) * 2);

  &:hover {
    translate: 0 calc(var(--pad) * -2);

  }
}


.shake {
  animation: shake 0.25s ease-out !important;
}

.fshake {
  color: red !important;
  animation: fshake 1s steps(3) infinite;
}

.red {
  color: red !important;
}

.space {
  flex-grow: 1;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  pointer-events: none;

  transition: opacity 1s ease-in-out;
}

#l {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
  z-index: 3;

  font-family: "tommy";
  transform: rotateY(30deg) skew(0deg, -6deg);
  perspective: 1000px;
  transform-style: preserve-3d;

  pointer-events: none;
}

#r {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 33%;
  z-index: 3;

  font-family: "tommy";
  transform: rotateY(-30deg) skew(0deg, 6deg);
  perspective: 1000px;
  transform-style: preserve-3d;

  pointer-events: none;
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: 70%;
  width: 100%;

  gap: calc(var(--margin) * 4);
}

#statsr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 70%;
  width: 100%;

  margin-top: calc(var(--margin) * 12);
  filter: drop-shadow(5px 5px 10px var(--keyshadow2));
}

.sr__container {
  display: flex;
  flex-direction: row;
}

#bar_container {
  &::before {
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 30px;

    width: 30px;
    height: 100%;
    opacity: 0.5;
    background-color: var(--key);
    z-index: -1;
  }
}

#score_container {
  animation: float 4s infinite ease-in-out;
}

#lastpg_count {
  font-size: var(--fs);
}

#lastpg {
  animation: from-down 0.2s ease-out;
}

#mult_count {
  display: flex;
  flex-direction: column;
  margin-left: calc(var(--margin) * 2);
}

#mult {
  font-size: calc(var(--fs) * 1.5);
}

#mult_under {
  margin-top: calc(var(--margin) * -2);
  font-size: calc(var(--fs) * 0.77);
}

#combo_count {
  display: flex;
  flex-direction: column;
  margin-left: calc(var(--margin) * 2);
}

#combo_above {
  margin-bottom: calc(var(--margin) * -2);
  font-size: calc(var(--fs) * 0.77);
}

#combo {
  font-size: calc(var(--fs) * 2.5);
}

.combo_bar {
  align-self: flex-end;
  width: 30px;
}

.counter {
  text-align: right;
  font-size: calc(var(--fs) * 1.5);
  font-family: "tommyb";
  color: var(--stext);
}

#score {
  font-size: calc(var(--fs) * 1.9);
  color: #000;
  filter: drop-shadow(5px 5px 10px var(--keyshadow2));
}

.s__container {
  display: flex;
  flex-direction: column;
  transition: scale 0.3s ease-in-out;
  pointer-events: all;

  &:hover {
    scale: 1.1;
  }
}


.sc__label {
  font-size: var(--fs);
  margin-bottom: -10px;
  color: var(--stext);
}

#points {
  color: #000;
  font-size: calc(var(--fs) * 1.4);
  font-family: "tommyb";
  filter: drop-shadow(5px 5px 10px var(--keyshadow2));
}

center {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 33%;
  height: 100%;
  pointer-events: all;
}

header:not(.n) {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;

  margin-top: calc(var(--margin) * 4);
  z-index: 3;
}

.divider {
  margin: calc(var(--margin) * 2);
  height: 1px;
  width: 100%;
  background-color: #000;
}

.n {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  
  & span {
    font-size: var(--fs);
  }

  & .x {
    margin-top: calc(var(--margin) * 4);
  }

  & div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 32px;
    width: 32px;
    
  }
}

#header_upper {
  font-family: "tommy";
  font-size: 3rem;
}

#header_under {
  font-size: 1rem;
}

#words {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

#overlay {
  position: absolute;
  left: -100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 34%);
  z-index: 2;
  pointer-events: none;
}

.h__word {
  display: flex;
  flex-direction: row;
  animation: var(--uptime) up ease-out;

  & .hw__letter {
    display: flex;
    align-items: center;
    justify-content: center;

    border: var(--border);
    background: #fff;
    width: var(--sqs);
    height: var(--sqs);

    padding: var(--pad);
    margin: var(--margin);

    font-size: var(--fs);
    user-select: none;

    animation: 0.5s ease-out flip forwards;
    animation-delay: calc(var(--i) + var(--uptime));
  }
}

#history {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: calc(var(--sqs) * 10);
}

.i__letter {
  display: flex;
  align-items: center;
  justify-content: center;

  border: var(--border);
  width: var(--sqs);
  height: var(--sqs);
  padding: var(--pad);
  background: #fff;

  font-size: var(--fs);
  margin: var(--margin);

  user-select: none;
  transition: all 0.2s ease;
}

.il__empty {
  scale: 0.8;
}

#input {
  display: flex;
  flex-direction: row;

  z-index: 2;
}

#keyboard {
  display: flex;
  flex-direction: column;

  margin-bottom: calc(var(--margin) * 4);
}

.k__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: center;
}

.double {
  width: calc(var(--keys) * 1.2) !important;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: var(--key);
  box-shadow: 0 5px var(--keyshadow);
  border-radius: var(--keyrad);

  margin: var(--margin);
  width: var(--keys);
  height: calc(var(--keys) * 1.2);

  font-family: "tommy";
  font-size: calc(var(--fs) / 1.75);
  transition: all 0.2s ease-in-out;

  &:focus,
  &:hover {
    outline: none;
    cursor: pointer;
    background: var(--keyfocus);
    transform: translateY(-5px);
    z-index: 2;
  }
}

.k_green {
  background: var(--lgreen);
  box-shadow: 0 5px var(--green);
  color: #fff;

  &:hover {
    outline: none;
    cursor: pointer;
    background: var(--green);
    transform: translateY(-5px);
    z-index: 2;
  }
}

.k_yellow {
  background: var(--lyellow);
  box-shadow: 0 5px var(--yellow);
  color: #fff;

  &:hover {
    outline: none;
    background: var(--yellow) ;
    cursor: pointer;
    transform: translateY(-5px);
    z-index: 2;
  }
}

.k_gray {
  background: var(--lgray);
  box-shadow: 0 5px var(--gray);
  color: #fff;

  &:hover {
    outline: none;
    background: var(--gray) ;
    cursor: pointer;
    transform: translateY(-5px);
    z-index: 2;
  }
}

#buttons_container {
  pointer-events: all;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.2);
  z-index: 8;
}

.m__content {
  animation: 0.15s up ease-in;
}


#tut_modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "tommy";

  background-color: #fff;
  width: 500px;
  height: 500px;

  padding: calc(var(--margin) * 4);
  z-index: 9;

  border-radius: calc(var(--keyrad) * 2);
  overflow: auto;
  overflow-x: hidden;
}

p {
  margin: 4px 0 0 0;
  font-family: "tommyl";
}

h1, h2, h3 {
  font-family: "tommyl";
  margin: 0;
  font-weight: bold;
  width: 100%;
}

.g {
  color: var(--green);
}

.y {
  color: var(--yellow);
}

.gr {
  color: var(--gray);
}

.b {
  font-weight: bold;
  text-shadow: -1px -1px;
}

@font-face {
  font-family: "tommyl";
  src: url(../public/assets/fonts/tommy_outline.otf);
}


@font-face {
  font-family: "tommy";
  src: url(../public/assets/fonts/tommy.otf);
}

@font-face {
  font-family: "tommyb";
  src: url(../public/assets/fonts/tommy_bold.otf);
}

@font-face {
  font-family: "tommyl";
  src: url(../public/assets/fonts/tommy_light.otf);
}


@media only screen and (max-width: 1280px) {
  :root {
    --keys: 30px;
    --sqs: 37px;
    --fs: 1.7rem;
    --margin: 3px;
  }

  #header_upper {
    font-size: 2rem;
  }

  #header_under {
    font-size: 1rem;
  }
}