:root {

  /* Colors */
  --green: #6ca965;
  --yellow: #c8b653;
  --gray: #787c7f;


  --sqs: 55px;
  --fs: 2rem;

  --border: 2px solid #000;
  --grayborder: 2px solid  var(--gray);
  --greenborder: 2px solid var(--green);
  --yellowborder: 2px solid var(--yellow);

  --pad: 4px;
  --margin: 4px;

  --uptime: 0.2s;
}

@keyframes up {
  0% {
    opacity: 0;
    translate: 0 calc(var(--sqs));
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}


@keyframes flip {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
    background: var(--col);
    border: var(--bor);
    color: #fff;
  }
}

center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: absolute;
  display: flex;
  flex-direction: column;

  margin-top: calc(var(--margin) * 4);

  z-index: 3;
}

#header_upper {
  font-family: "tommy";
  font-size: 3rem;
}

#header_under {
  font-size: 1rem;
}

#words {
  display: flex;
  flex-direction: column;


  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 34%);
    z-index: 2;
    pointer-events: none;
  }
}

.h__word {
  display: flex;
  flex-direction: row;
  animation: var(--uptime) up ease-out;

  & .hw__letter {
    display: flex;
    align-items: center;
    justify-content: center;

    border: var(--border);
    width: var(--sqs);
    height: var(--sqs);

    padding: var(--pad);
    margin: var(--margin);

    font-size: var(--fs);
    user-select: none;

    animation: 0.5s ease-out flip forwards;
    animation-delay: calc(var(--i) + var(--uptime));
  }
}

#history {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: calc(var(--sqs) * 10);
}

.i__letter {
  display: flex;
  align-items: center;
  justify-content: center;

  border: var(--border);
  width: var(--sqs);
  height: var(--sqs);
  padding: var(--pad);

  font-size: var(--fs);
  margin: var(--margin);

  user-select: none;
}

#input {
  display: flex;
  flex-direction: row;

  z-index: 2;
}

@font-face {
  font-family: "tommy";
  src: url(../public/assets/fonts/tommy.otf);
}